@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root{
    /* PRIMARY COLORS */
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    /* NEUTRAL */
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --pale-orange: hsl(33, 100%, 98%);
    /* FONTS */    
    --ff-DM-sans: 'DM Sans', sans-serif;
}

html, body{ min-height: 100vh; }

body{
    background-color: var(--cream);
    font-family: var(--ff-DM-sans);
    display: grid;
    place-content: center;
    place-items: center;        
}

button{ 
    cursor: pointer;
    transition: all 0.3s linear;
}

canvas{ cursor: pointer;}

img {
    width: 100%;
    display: block;
}

.d-flex{
    display: flex;
    flex-direction: row;
}

.d-inline-block{ display: inline-block; }
.flex-column { flex-direction: column; }
.justify-content-between { justify-content: space-between; }
.align-items-center{ align-items: center;}

.attribution{    
    position: fixed;
    bottom: 10px;    
    text-align: center;
    width: 100%;
    color: var(--dark-brown);
    font-weight: 300;
}

.attribution a{
    color: var(--soft-red);
}

.expense-chart-container {
    display: grid;
    row-gap: 20px;
    width: 380px;
    overflow: hidden;
}

.balance-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--soft-red);
    padding: 20px 30px;
    border-radius: 16px;
}

.expense-chart-logo {
    object-fit: cover;
    width: 50px;
    justify-self: flex-end;
}

.chart-container {
    background-color: var(--pale-orange);
    padding: 20px 30px;
    border-radius: 16px;
    display: grid;
    row-gap: 20px;
}

.my-balance {
    color: var(--pale-orange);
    font-size: 13px;
    font-weight: 300;
}

.total-expense {
    color: var(--pale-orange);
    font-size: 24px;
    font-weight: 500;
}

.chart-container h1 {
    color: var(--dark-brown);
    font-size: 22px;
}

hr{
    border-style: solid;
    border-color: hsl(10deg 79% 65% / 19%);
    border-width: 1px;
}

.total-this-month {
    color: var(--medium-brown);
    font-size: 13px;
}

.total-month-expense {
    font-weight: 600;
    font-size: 34px;
    line-height: 1.5;
    color: var(--dark-brown);
}

.stats-of-month {
    font-size: 13px;
    font-weight: bold;
    color: var(--dark-brown);
}

.from-last-month {
    font-size: 13px;
    color: var(--medium-brown);
    font-weight: 400;
}